---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   20px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     20px;

$text-color:       #111;
$background-color: darken(white, 5%);
$brand-color:      #009688;

$header-color-background: #607D8B;
$header-color-unselected: darken(#E0E0E0, 15%);
$header-color-selected: white;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

//CSS for images
.image-wrapper {
   text-align: center;

   .image-caption {
      color: $grey-color-dark;
      margin-top: $spacing-unit / 3;
   }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout"
        //"syntax-highlighting"
;
