---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <h2 class="category-name">First Tastes</h2>
  <span class="post-year">2015</span>
  <ul class="post-list">
    {% for post in site.categories.first_tastes %}
      <li>
        <h3>
          <span class ="post-meta mono">{{ post.date | date: "%b %d" }}</span> - <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <h2 class="category-name">Showdowns</h2>
  <span class="post-year">2015</span>
  <ul class="post-list">
     {% for post in site.categories.showdowns %}
     <li>
        <h3>
           <span class ="post-meta mono">{{ post.date | date: "%b %d" }}</span> - <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
     </li>
     {% endfor %}
  </ul>
</div>
