<header class="site-header">

   <div class="wrapper">

      <a class="site-title" href="{{ site.baseurl }}/">
         {% if page.path == "index.html" %}
         <span class="selected-heading">
         {{ site.title }}
         </span>
         {% else %}
         {{ site.title }}
         {% endif %}
      </a>

      <nav class="site-nav">
         <div class="trigger">
            <a class="page-link" href="{{ site.baseurl }}/about">
            {% if page.path == "about.md" %}
            <span class="selected-heading">
            about
            </span>
            {% else %}
            about
            {% endif %}
            </a>
            <a class="page-link" title="RSS" href="{{ site.baseurl }}/feed.xml">rss</a>
         </div>
      </nav>

   </div>

</header>
